# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\bcosk\OneDrive\Documenten\Hoofdfase_leerjaar2_Datapersistency\OV-chipkaart_Hibernate'\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
